body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1, h2 {
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
form {
    margin-top: 10px;
}
input, select, button {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}


a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}


* {
    user-select: none;
    -webkit-user-drag: none; /* Para Safari */
    user-select: none; /* Evita selección de texto */
    pointer-events: auto; /* Permite clics pero no arrastre */
  }
  