
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Elementos</title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <a href="/">Volver</a>
    <h1>Agregar categoría</h1>

    <form action="/agregar_grupo" method="post" enctype="multipart/form-data">
        <input type="text" name="nombre" placeholder="Nombre del grupo" required>
        <input type="file" name="imagen" accept="image/*" required>
        <button type="submit">Agregar categoría</button>
    </form>
    
    <h1>Agregar equipo</h1>
    <form action="/agregar_objeto" method="post">
        <select name="grupo_id">
            {% for grupo in grupos %}
            <option value="{{ grupo.id }}">{{ grupo.nombre }}</option>
            {% endfor %}
        </select>
        <input type="text" name="nombre" placeholder="Nombre del objeto" required>
        <button type="submit">Agregar equipo</button>
    </form>

</body>
</html>
